# Deriva Action Provider System Service
# Install in /etc/systemd/system/deriva-action-provider.service
# Remember to run the following if you change this:
# systemctl daemon-reload

# SIGKILL vs SIGHUP
# Gunicorn likes to wait for all workers to exit before stopping/restarting the
# process. In theory setting KillSignal to SIGHUP, should allow people to finish
# ingesting datasets before the server goes down (Should probably set --graceful-timeout
# to the max length of a dataset ingest time). However, this takes a while and is
# annoying on dev -- Setting KillSignal to SIGKILL will nuke everything immediately,
# and result in fast restarts, but will cause any running ingests to fail.
#
# https://docs.gunicorn.org/en/stable/settings.html?highlight=sighup#graceful-timeout

[Unit]
Description=Deriva Action Provider
After=syslog.target

[Service]
ExecStart=/home/ubuntu/miniconda3/envs/ap_dev/bin/gunicorn --bind 127.0.0.1:5000 cfde_ap.api:app --timeout 31 --graceful-timeout 62
# ExecStart=/home/ubuntu/deriva-action-provider/venv/bin/uwsgi --http :5000 --module cfde_ap.api:app --enable-threads --processes 4 --threads 2 --chdir /home/ubuntu/deriva-action-provider
Environment="FLASK_ENV=dev"
RuntimeDirectory=/home/ubuntu/deriva-action-provider/
User=ubuntu
Group=ubuntu
Restart=always
KillSignal=SIGKILL
# KillSignal=SIGHUP
Type=notify
StandardError=syslog
NotifyAccess=all

[Install]
WantedBy=multi-user.target